html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    /*max-width: 800px;*/
    padding: 2em 2em 4em;
}
.clear  {
    clear: both;
}
.rectangle-copy-5 {
	box-sizing: border-box;
	height: auto;
	width: 100%;
	border: 1px solid #C5CEDD;
	border-radius: 4px;
	background-color: #F7F9FC;
    display: block;
}

.fr_mission{
    height: 165px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #E5E9F1;
}

.shield_image{
    margin: 30px auto 0;
}
.helper_text p{
    text-align: center;
    line-height: 20px;
    padding: 0 60px;
    font-size: 12px;
    color: #5C697F;
    margin: 0px;   
}

.fr_contact{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.fr_name {
    float: left;
    display: block;
    padding: 30px 0 0 50px;
    
}
.fr_name p{
    font-size: 20px;
    color: #1F2D46;
    font-weight: 500; 
    margin: 0px;
        
}
.fr_name p.grey{
    font-size: 11px;
    color: #9c9c9c;
    font-weight: 500; 
    margin: 0px;
    letter-spacing: 2px;	
    line-height: 16px;
        
}
.fr_image{
    height: 48px; 
    float: right; 
    padding: 30px 30px;
}

.fr_name div.website_icon{
    padding: 20px 0 0 0;
    float: left;
    
}
.fr_name div.website img{
    padding: 0;
    margin: 0;
    
}
.fr_name div.website_text{
    padding: 12px 0 0 25px;
    
}
.fr_name div.website_text a{
    font-size: 12px;
    color: #3A63F9;
}
.fr_name div.phone_icon{
    padding: 5px 0 0 0;
    float: left;
    
}
.fr_name div.phone img{
    padding: 0;
    margin: 0;
    
}
.fr_name div.phone_text{
    padding: 3px 0 0 25px;
    font-size: 12px;
    
}
.fr_name div.phone_text a{
    font-size: 12px;
    color: #3A63F9;
}
.fr_name div.email_icon{
    padding: 10px 0 0 0;
    float: left;
    
}
.fr_name div.email img{
    padding: 0;
    margin: 0;
    
}
.fr_name div.email_text{
    padding: 0px 0 0 25px;
    
}
.fr_name div.email_text a{
    font-size: 12px;
    color: #3A63F9;
}

div.stars{
    padding: 40px 50px 20px;
}

div.rating_text{
    padding: 0px;
}


div.rating_text p{
 
    line-height: 20px;
    padding: 10px 0;
    font-size: 12px;
    color: #5C697F;
    margin: 0px; 
}

div.rating_client_name p{
 
    line-height: 20px;
    padding: 0;
    font-size: 12px;
    color: #5C697F;
    margin: 0px; 
    font-weight: bold;
}

.primary_btn {
    height: 40px;	
    width: 100%;	
    border-radius: 4px;	
    background-color: #126AE5;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    margin: 25px 0 0 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    display: block;
    max-width: 98%;
}

section img{
    padding: 0 0 20px 0;
    }

picture img{
    padding: 0 0 20px 0;
    }

/* Questions Page CSS */
.rectangle-copy-5 {
	
	height: auto;
	width: 100%;
	background-color: #F7F9FC;
    display: block;
}

.back_arrow {
    float: left;
    display: block;
}

div.contact_text p{
    font-size: 20px;
    color: #002B49;
    line-height: 25px;
    margin: 20px 0;
    
}

.ui-base {
    color: #002b49;
    box-sizing: border-box;
}

.ui-base button, .ui-base input {
    overflow: visible;
}
.euctwL {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    margin: 0.5rem 0px;
    line-height: 19px;
    
}

.ui-base input, .ui-base optgroup, .ui-base select, .ui-base textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.fsyceP {
    margin-left: 1.25rem;
    margin-right: 1rem;
    letter-spacing: 0.03125rem;
    font-size: 16px;
}

.kcWGKn {
    height: 1.25rem;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1.25rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgb(125, 153, 173);
    border-image: initial;
    border-radius: 0.25rem;
}
.ui-base [type='checkbox'], .ui-base [type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
.ui-base *, .ui-base *:before, .ui-base *:after {
    box-sizing: border-box;
}
.fCPlQd {
    opacity: 0;   
}

.fCPlQd:checked ~ .Checkbox__Icon-uzjfh4-1 {
    background-color: rgb(18, 106, 229);
    transform: scale(1);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.fCPlQd:checked ~ .Checkbox__Icon-uzjfh4-1::after {
    display: block;
    opacity: 1;
}

.kcWGKn::after {
    content: "";
    opacity: 0;
    height: 0.625rem;
    left: 0.4375rem;
    position: absolute;
    top: 0.25rem;
    transform: rotate(45deg);
    width: 0.4375rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-width: 0px 0.125rem 0.125rem 0px;
    padding: 0.125rem;
}


.kcWGKn {
    height: 1.25rem;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1.25rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgb(125, 153, 173);
    border-image: initial;
    border-radius: 0.25rem;
}

.ui-base *, .ui-base *:before, .ui-base *:after {
    box-sizing: border-box;
}

.marginAdjust
{margin: 15px 0 20px}
.euctwL {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-top: 0.125rem;
    -webkit-tap-highlight-color: transparent;
    margin: 0.5rem 0px;
}
#autoUpdate{display: none;}
#autoUpdate2{display: none;}

/*modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}